<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="Info"
	internalLogFile="c:\Temp\NLogSample\NLogSample.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="file" name="all_logs" filName="c:\Temp\NLogSample\all.log"/>
		<target xsi:type="file" name="relevant_logs" filName="c:\Temp\NLogSample\relevant.log"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="all_logs" />
		<logger name="*" minlevel="Info" writeTo="all_logs" />
		<logger name="*" minlevel="Error" writeTo="relevant_logs" />
		<logger name="*" minlevel="Warn" writeTo="relevant_logs" />
		<logger name="*" minlevel="Criti" writeTo="relevant_logs" />
	</rules>
</nlog>